
<head>
    <script data-ad-client="ca-pub-4012209145279154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 my-3 intro">
            <h4 class="heading">HSX Tech World Wide</h4 >
            <h4 class="heading">Your Digital Solution</h4>
            <p class="my-2">Impacting Digital Knowledge In Every Youth Across The World, Such as Web Design, Blogging, Digital Marketing, SEO </p>
            <a href="/shop" class="shop">Show Room <i class="fas fa-arrow-right d-inline" style="color: hsl(136, 65%, 51%);"></i></a>
        </div>
        <div class="col-md-6 mockup-bg my-3" >
            <img src="./images/image-mockups.png" class="img-fluid" >
        </div>
    </div>
</div>

</div>
<div class="choose-us mb-3 ">
<div class="container" id="us">
    <h2 class="head">Why Choose HSX Tech?</h2>
    
    <div class="row mx-1">
        <div class="col-lg-3 col-md-4 mx-auto my-3">
             <img src="./images/icon-onboarding.svg" class="img-fluid">
             <h4 class="my-2 choose-heading"> Customer Support</h4 >
             <p class="my-3">Our Agents Are Available 24/7 To Provide Solutions</p>
        </div>
        <div class="col-lg-3 col-md-4 mx-auto my-3">
             <img src="./images/icon-budgeting.svg" class="img-fluid">
             <h4 class="my-2 choose-heading"> Pricing</h4 >
             <p class="my-3">We Made All Our Products and Services affordable for Our clients/Interns Considering the Nation Course</p>
        </div>
        {{!-- <div class="col-lg-3 col-md-4 mx-auto my-3">
             <img src="./images/icon-online.svg" class="img-fluid">
             <h3 class="my-2 choose-heading"> Payments System</h3 >
             <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error qui, eum repellendus </p>
        </div> --}}
        <div class="col-lg-3 col-md-4 mx-auto my-3">
             <img src="./images/icon-api.svg" class="img-fluid">
             <h3 class="my-2 choose-heading">Networking</h3 >
             <p class="my-3">Giving You The Opportunity to Connect, Discuss and share ideas With Other HSX Digital Solutions Interns </p>
        </div>

    </div>
</div>
</div>
<div class="our-stack mt-3">
<h2 class="my-4 what-we-do">What We Do</h2>
<div class="container ">
    <div class="row my-5">
        <div class="col-md-4 card">
            
                <img src="https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" class="card-img-top img-fluid my-3">
                <h5>Blogging</h5> 
                <p>Full Lecturing From Setting Up To Monetizing</p>
            
        </div>
        <div class="col-md-4 card">
            
                <img src="https://images.unsplash.com/photo-1547954575-855750c57bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" class="card-img-top img-fluid my-3">
                <h5>Web Programming Fundamentals</h5> 
                <p>Covering the Web Frontend Track From Beginner to Junior Level</p>
            
        </div>
         <div class="col-md-4 card">
            
                <img src="https://cdn.pixabay.com/photo/2016/11/03/18/19/social-media-1795578__340.jpg" class="card-img-top img-fluid my-3">
                <h5>Digital Marketing</h5> 
                <p>Introduction To Marketing Online With Various Tools  </p>
            
        </div>
    </div>
</div>
</div>
<div class="footer mt-3">
    <div class="container grid-ct">
        <div class="grid1">
            <div class="logo">
                <img src="./images/logo.svg" class="footer-logo">
            </div>
            <div class="social-icons d-inline">
                <img src="./images/icon-twitter.svg">
                <img src="./images/icon-facebook.svg">
                <img src="./images/icon-instagram.svg">
            </div>
        </div>
       
        <div class="grid3">
            <li>No.5 Rufus Lanre Estate</li>
            <li>Idera</li>
            <li>Lagos Nigeria</li>
        </div>
        <div class="grid4">
            <li><a href="/shop" class="shop-footer">Go To Store</a></li>
            <li>All Right Reserved</li>
        </div>
    </div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e81f7c435bcbb0c9aabe000/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<script data-ad-client="ca-pub-4012209145279154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!--End of Tawk.to Script-->
</body>



