<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/style.css">
<style>
    .fa-star {
        color: gold;
      
    }
</style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{posts.titile}}" height="250" width="300">

           
            <br>
            <p>{{posts.body}}</p>
             <small><i class="far fa-star "></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></small>
        </div>
         <div class="col-md-6">
             <h4>In Order to Serve Our Customers Well, We Made Provisions Of Live Order With One Of Our Agent. Kindly Click On The Below Link To Confirm Your Oder</h4>

             <button class="btn btn-warning">Confirm Order</button>
         </div>
    </div>
</div>





{{!-- 
<h2>{{posts.titile}}</h2>

<p>{{posts.body}}</p> --}}