



     

<head>
<style>
    .fa-star {
        color: gold;
      
    }
</style>

</head>
<body>
<br><br><br><br>
<div class="container">
    <h2 class="text-center" style="font-family: cursive;">HSX MEGA STORE</h2>
    <div class="row">
{{#each posts}}
<div class="col-md-6 col-lg-4 my-3 mx-auto">
                        <div class="card text-center ">
                            <img src="{{titile}}" class="card-img-top"alt="" width="240" height="240">
                            <div class="card-body">
                                <h5 class="card-title text-capitalize text-dark ">{{author}}</h5>
                                <small><i class="far fa-star "></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></small>
                                 <h5 class="card-title text-capitalize text-dark ">{{category}}</h5>
                                
                                <a href="https://api.whatsapp.com/send?phone=2348092216411" class="btn btn-outline-success text-uppercase">ORDER</a>
                            </div>
                            
                        </div>
                    </div>
                     {{/each}}
                    </div>
                    </div>
               
                    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e81f7c435bcbb0c9aabe000/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  
                    </body>
                     <!--en